<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grade App</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="home.js"></script>

</head>
<body>
  <div class="container">
    <h1 class="text-center">Grade Central</h1>

    <button class="btn btn-default btn-lg newGrade">New Grade</button>
    <button class="btn btn-default btn-lg removeGrade">Remove Grade</button>


    <table class="table">
      <thead>
        <tr>
          <th>Assignment Name</th>
          <th>Student Score</th>
          <th>Total</th>
          <th>Letter Grade</th>
          <th>Remove</th>

        </tr>
      </thead>
      <tbody>

        <% for(var i = 0; i < grades.length; i++) { %>
          <tr data-id=<%=grades[i].id%>  >
            <!-- <td><%= grades[i].createdAt %></td> -->
            <td><%= grades[i].assignmentName %></td>
            <td><%= grades[i].studentScore %></td>
            <td><%= grades[i].totalScore %></td>
            <td><%= grades[i].letterGrade %></td>
            <td>
              <% if(grades[i].isComplete) { %>
                <input type="checkbox" name="" id="" checked>
              <% } else { %>
                <input type="checkbox" name="" id="">
              <% } %>
            </td>
          </tr>

        <%  }  %>

      </tbody>
    </table>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='newGradeForm'>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Grade</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="newGradeAssignmentName">Assignment Name</label>
              <input type="text" class="form-control" id="newGradeAssignmentName" placeholder="Name of the assignment" required>
            </div>
            <div class="form-group">
              <label for="newGradeStudentScore">Student Score</label>
              <input type="number" class="form-control" id="newGradeStudentScore"  placeholder="Enter score" required>
            </div>
            <div class="form-group">
              <label for="newGradeTotalScore">Total Score</label>
              <input type="number" class="form-control" id="newGradeTotalScore"  placeholder="Enter total" required>
            </div>
            <div class="form-group">
              <label for="newGradeLetterGrade">Letter Grade</label>
              <input type="text" class="form-control" id="newGradeLetterGrade" placeholder="Enter letter grade" required>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Grade</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</body>
</html>
